{% extends '../partial/simpleBootstrap.html' %}
{% block content %}
<table>
    <thead>
        <tr>
        <th> تصویر </th>
        <th> نام </th>
        <th> نام خانوادگی </th>
        <th> تاریخ تولد </th>
        <th> عنوان افتخار </th>
        <th> سال افتخار </th>
        <th> سطح </th>
        <th> دسته بندی </th>
        <th> دوره </th>
        <th> تصویر مدرک </th>
        <th> لینک ها  </th>
        <th> توضیحات  </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th><img src="{{ achievement.owner.photo.url }}" alt=""></th>
        <th>{{ achievement.owner.first_name }}</th>
        <th>{{ achievement.owner.last_name }}</th>
        <th>{{ achievement.owner.birthday }}</th>
        <th>{{ achievement.title }}</th>
        <th>{{ achievement.year }}</th>
        <th>{{ achievement.level }}</th>
        <th>{{ achievement.field }}</th>
        <th>{{ achievement.dore }}</th>
        {% if achievement.pic %}<th><img src="{{ achievement.pic.url }}" alt=""></th>{% else %}<th> بارگذاری نشده </th>{% endif %}
        {% if achievement.video_link %}<th>{{achievement.video_link}}</th>{% else %}<th> وارد نشده </th>{% endif %}
        {% if achievement.detail %}<th>{{ achievement.detail }}</th>>{% else %}<th> وارد نشده </th>{% endif %}
        </tr>
    </tbody>
</table>
{% endblock content %}