{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="قالب مدیریت ایرانی مدیران ">
        <meta name="keywords" content="قالب مدیریت, قالب داشبورد, قالب ادمین, قالب مدیران, قالب مدیریت راستچین , قالب ایرانی مدیریت, پوسته مدیریت, قالب ادمین داشبورد سایت, قالب مدیریتی, مدیران, قالب مدیریت مدیران, پنل مدیریت, پنل مدیریت مدرن, قالب ادمین متریال, قالب مدیریت بوت استرپ, قالب ادمین بوتسترپ, قالب ادمین سایت, پوسته مدیریتی ایرانی, قالب مدیرتی مدیران ایرانی, بهترین قالب مدیریت, قالب مدیریت ریسپانسیو, قالب مدیریت ارزان, قالب admin">
        <meta name="fontiran.com:license" content="NE29X">
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

        <!-- BEGIN CSS -->
        <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/simple-line-icons/css/simple-line-icons.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/switchery/dist/switchery.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/paper-ripple/dist/paper-ripple.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/iCheck/skins/square/_all.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/colors.css' %}" rel="stylesheet">
        <!-- END CSS -->

        <!-- added for calander -->
        <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/bootstrap-rtl/dist/css/bootstrap-rtl.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/simple-line-icons/css/simple-line-icons.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/switchery/dist/switchery.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/paper-ripple/dist/paper-ripple.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/iCheck/skins/square/_all.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/colors.css' %}" rel="stylesheet">
        <!-- END CSS -->
        <!-- BEGIN PAGE CSS -->
        <link href="{% static 'plugins/persian-datepicker/css/persian-datepicker.min.css' %}" rel="stylesheet">
        <!-- END PAGE CSS -->
        
    </head>
    <body class="active-ripple theme-blue fix-header sidebar-extra">

        {% block content %}
        {% endblock content %}

            <!-- BEGIN JS -->
        <script src="{% static 'plugins/jquery/dist/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-migrate/jquery-migrate-1.2.1.min.js' %}"></script>
        <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'plugins/metisMenu/dist/metisMenu.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'plugins/paper-ripple/dist/PaperRipple.min.js' %}"></script>
        <script src="{% static 'plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'plugins/sweetalert2/dist/sweetalert2.min.js' %}"></script>
        <script src="{% static 'plugins/screenfull/dist/screenfull.min.js' %}"></script>
        <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'plugins/switchery/dist/switchery.js' %}"></script>
        <script src="{% static 'js/core.js' %}"></script>

        <!-- added for calendar -->
                <!-- BEGIN JS -->
        <script src="{% static 'plugins/jquery/dist/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'plugins/jquery-migrate/jquery-migrate-1.2.1.min.js' %}"></script>
        <script src="{% static 'plugins/popper/popper.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'plugins/metisMenu/dist/metisMenu.min.js' %}"></script>
        <script src="{% static 'plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
        <script src="{% static 'plugins/paper-ripple/dist/PaperRipple.min.js' %}"></script>
        <script src="{% static 'plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'plugins/sweetalert2/dist/sweetalert2.min.js' %}"></script>
        <script src="{% static 'plugins/screenfull/dist/screenfull.min.js' %}"></script>
        <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
        <script src="{% static 'plugins/switchery/dist/switchery.js' %}"></script>
        <script src="{% static 'js/core.js' %}"></script>
        
        <!-- BEGIN PAGE JAVASCRIPT -->
        <script src="{% static 'plugins/persian-date/persian-date.min.js' %}"></script>
        <script src="{% static 'plugins/persian-datepicker/js/persian-datepicker.min.js' %}"></script>
        <script src="{% static 'js/pages/calendar.js' %}"></script>
        <!-- END PAGE JAVASCRIPT -->
    </body>
</html>