    <!-- BEGIN SETTING -->
    <div class="settings d-none d-sm-block">
        <a href="#" class="btn" id="toggle-setting">
            <i class="icon-settings"></i>
        </a>
        <h3 class="text-center">تنظیمات</h3>
        
        <div class="fix-header-box">
            <p class="h6">
                هدر ثابت: 
                <span class="pull-left">
                    <input type="checkbox" class="fix-header-switch normal" checked>
                </span>
            </p>
        </div><!-- /.fix-header-box -->
        <hr class="light">
        <div class="toggle-sidebar-box">
            <p class="h6">
                جمع کردن سایدبار: 
                <span class="pull-left">
                    <input type="checkbox" class="toggle-sidebar-switch normal">
                </span>
            </p>
        </div><!-- /.toggle-sidebar-box -->
        <hr class="light">
        <div class="toggle-sidebar-box">
            <p class="h6">
                سایدبار خلاقانه: 
                <span class="pull-left">
                    <input type="checkbox" class="creative-sidebar-switch normal">
                </span>
            </p>
        </div><!-- /.toggle-sidebar-box -->
        <hr class="light">
        <div class="theme-colors">
            <p class="h6">رنگ قالب : </p>
            <a class="btn btn-round btn-blue ripple-effect active" data-color="blue"></a>
            <a class="btn btn-round btn-red ripple-effect" data-color="red"></a>
            <a class="btn btn-round btn-green ripple-effect" data-color="green"></a>
            <a class="btn btn-round btn-orange ripple-effect" data-color="orange"></a>
            <a class="btn btn-round btn-purple ripple-effect" data-color="purple"></a>
            <a class="btn btn-round btn-deeporange ripple-effect" data-color="deeporange"></a>
            <a class="btn btn-round btn-cyan ripple-effect" data-color="cyan"></a>
            <a class="btn btn-round btn-rose ripple-effect" data-color="rose"></a>
            <a class="btn btn-round btn-lime ripple-effect" data-color="lime"></a>
            <a class="btn btn-round btn-darkorange ripple-effect" data-color="darkorange"></a>
        </div><!-- /.theme-colors -->
        <div class="theme-code ltr text-left">
            <code></code>
        </div><!-- /.theme-code -->
    </div><!-- /.settings -->
    <!-- END SETTING -->
    
    <!-- BEGIN CODE MODAL -->
    <div class="modal fade" id="code-modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default btn-round btn-icon pull-right" id="btn-copy"><i class="fa fa-copy"></i></button>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">کپی کردن کدها</h4>
                </div>
                <div class="modal-body"></div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
    <!-- END CODE MODAL -->